[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
jupyter = "*"
notebook = "*"
scikit-learn = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.12"
